div.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #4A90E2;
}
.navbar > img {
    width: 121px;
    height: 24px;
}

.avatar-container {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.avatar-container > img {
    height: 36px;
    width: 36px;
}